.home{
    padding: 2rem 5%;
    display:flex;
    flex-direction:column;
    height: calc(100% - 4rem);
    width:100%;
    
    >section{
        width:100%;
        height:18.7rem;
        margin: auto;    
        background: url(../assets/Photos/Banner.jpg) no-repeat center / cover;
    }
    >h1{
        @include heading(1px);
        margin-top: 3rem;
        @include flex(row, space-between ,center);
    }
    >main{
        width: 100%;
        flex: 1;
        display: flex;
        gap:1rem;
        overflow-x: auto;

        &::-webkit-scrollbar{
            display: none;
        }
    }
    .productCard{
        width:15rem;
        height: 20rem;
        padding:1rem;
        flex:none;
        @include flex(column,flex-start , center, 4px);
        position: relative;

        background-color: white;
        img{
          @include square(calc( 15rem - 5rem ));
          object-fit: cover;
          margin: 1rem;
         
        }

        span{
            font-size: 1.1rem;
            font-weight: 700;

        }
        button{
            visibility:hidden;
        }
        &:hover>div{
            position:absolute;
            @include square(100%);
            top:0;
            background-color: #0000006b;
            @include flex;
            button{
                @include flex;
                @include square(3rem);
                border-radius:100%;
                background-color: $color3;
                cursor:pointer;
                visibility: visible;
                color:$color1;
                font-size:1.1rem;
                ;
                &:hover{
                    rotate: 90deg;
                    transition: all 0.1s;
                }

            }
        }
      }
}